{% extends "blog/base.html" %}
{% load static %}

{% block title %}
HOME PAGE
{% endblock %}

{% block main %}
    <div class="body_bg">
        {% include "blog/header.html" %}
        <!-- Header part end-->

        <!-- banner part start-->
        <section class="banner_part">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-6 col-md-8">
                        <div class="banner_text">
                            <div class="banner_text_iner">
                                <h1>{{ heading }}</h1>
                                <h3>{{ subheading }}</h3>
                                <a href="{% url 'signin' %}" class="btn_1">Sign In</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner part start-->

        <!--::client logo part end::-->
        <section class="client_logo">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="client_logo_slider owl-carousel d-flex justify-content-between">
                            <div class="single_client_logo">
                                <img src="{% static 'img/client_logo/client_logo_1.png' %}" alt="">
                            </div>
                            <div class="single_client_logo">
                                <img src="{% static 'img/client_logo/client_logo_2.png' %}" alt="">
                            </div>
                            <div class="single_client_logo">
                                <img src="{% static 'img/client_logo/client_logo_3.png' %}" alt="">
                            </div>
                            <div class="single_client_logo">
                                <img src="{% static 'img/client_logo/client_logo_4.png' %}" alt="">
                            </div>
                            <div class="single_client_logo">
                                <img src="{% static 'img/client_logo/client_logo_5.png' %}" alt="">
                            </div>
                            <div class="single_client_logo">
                                <img src="{% static 'img/client_logo/client_logo_1.png' %}" alt="">
                            </div>
                            <div class="single_client_logo">
                                <img src="{% static 'img/client_logo/client_logo_2.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--::client logo part end::-->

        <!--::about_us part start::-->
        <section class="live_stareams padding_bottom">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md-2 offset-lg-2 offset-sm-1">
                        <div class="live_stareams_text">
                            <h2>live <br> streams</h2>
                            <div class="btn_1">install now</div>
                        </div>
                    </div>
                    <div class="col-md-7 offset-sm-1">
                        <div class="live_stareams_slide owl-carousel">
                            <!---for--->
                            <div class="live_stareams_slide_img">
                                <img src="{% static 'img/Mortal-Kombat-Wallpaper-Free-Download.jpg' %}" alt="">
                                <div class="extends_video">
                                    <a id="play-video_1" class="video-play-button popup-youtube"
                                        href="https://www.youtube.com/watch?v=GtL1huin9EE">
                                        <span class="fas fa-play"></span>
                                    </a>
                                </div>
                            </div>
                            <!---endfor--->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--::about_us part end::-->

        <!-- gallery_part part start-->
        <section class="gallery_part section_padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-5">
                        <div class="section_tittle text-center">
                            <h2><a href="{% url 'fighter_main' %}">All Fighter</a></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="gallery_part_item">
                            <div class="grid">
                                <div class="grid-sizer"></div>
                                {% for fighter in fighters %}
                                <a href="{{ fighter.get_absolute_url }}">
                                    <img src="{{ fighter.image.url }}" alt="" width="400" height="250">
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- gallery_part part end-->

        {% include "blog/footer.html" %}


    </div>

{% endblock %}


