{% extends "blog/base.html" %}
{% load static %}

{% block title %}
BLOGS
{% endblock %}

{% block main %}
    {% include "blog/header.html" %}

    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>{{ heading }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!--================Blog Area =================-->
    <section class="blog_area section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        <!-- blog -->
                        {% for post in posts %}
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="{{ post.image.url }}" alt="" width="200" height="650">
                                <a href="{{ post.get_absolute_url }}" class="blog_item_date">
                                    <h3>{{ post.date }}</h3>
                                </a>
                            </div>
                            <div class="blog_details">
                                <a class="d-inline-block" href="{{ post.get_absolute_url }}">
                                    <h2>{{ post.title }}</h2>
                                </a>
                                <p>{{ post.descr|truncatechars:50 }}</p>
                                <ul class="blog-info-link">
<!--                                    <li><a href="#"><i class="far fa-user"></i> Travel, Lifestyle</a></li>-->
<!--                                    <li><a href="#"><i class="far fa-comments"></i> 03 Comments</a></li>-->
                                </ul>
                            </div>
                        </article>
                         <!-- blog -->
                        {% endfor %}
                    </div>
                    <nav class="blog-pagination justify-content-center d-flex">
                        {% if page_obj.has_other_pages %}
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a href="?page=1" class="page-link" aria-label="Previous"><--</a>
                                </li>
                                {% endif %}
                                {% for i in page_obj.paginator.page_range%}
                                {% if page_obj.number == i %}
                                <li class="page-item">
                                    <a href="#" class="page-link">{{ i }}</a>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Next">--></a>
                                </li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </nav>
                </div>

                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form action="{% url 'search_results' %}" method="get">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input name="search" type="text" class="form-control" placeholder='Search Keyword'
                                            onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Search Keyword'">
                                        <div class="input-group-append">
                                            <button class="btn" type="button"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1"
                                    type="submit">Search</button>
                            </form>
                        </aside>

                        <aside class="single_sidebar_widget post_category_widget">
                            <a href="{% url 'category_list' %}" class="d-flex">
                    <h4 class="widget_title">Category</h4>
                            </a>
                    <ul class="list cat-list">
                        {% for category in categories %}
                        <li>
                            <a href="category/{{ category.slug }}" class="d-flex" name="category_name">
                                <p>{{ category.name }}</p>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                        </aside>
                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Recent Post</h3>
                            {% for post in recent_posts %}
                            <div class="media post_item">
                                <img src="{{ post.image.url }}" alt="post" width="200">
                                <div class="media-body">
                                    <a href="{{ post.get_absolute_url }}">
                                        <h3>{{ post.title }}</h3>
                                    </a>
                                    <p>{{ post.date }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->

    {% include "blog/footer.html" %}


{% endblock %}